{block content}

	{if $user}
		Logged in: <b>{$user}</b>
		<br />
		DNS microservice responded: <b>{$dns}</b>
	{/if}

	<br />
	<br />

	{if $user}
		<a href="{link logout}">Sign out</a>

		<br />
		<br />
		<br />
		{*<button onclick="linkPasswordAccount()">Link Account</button>*}
		<a href="{link login, TRUE}">Link account</a>

	{else}
		<a href="{link login}">Sign in</a>
	{/if}


	<br />
	<br />
	<br />
    {*{control auth0Form}*}
	<div id="auth0-login-container"></div>

{/block}


{block scripts}
	<script>
	  {*var options = {*}
        {*container: 'auth0-login-container',*}
        {*oidcConformant: true,*}
        {*auth: {*}
          {*audience: 'https://ignum.auth0.com/userinfo'*}
        {*}*}
      {*};*}

	  {*var lock = new Auth0Lock(*}
        {*{$auth0ClientId},*}
		{*'ignum.auth0.com',*}
		{*options*}
      {*);*}


      {*// Listening for the authenticated event*}
      {*lock.on("authenticated", function(authResult) {*}
        {*// Use the token in authResult to getUserInfo() and save it to localStorage*}
        {*lock.getUserInfo(authResult.accessToken, function(error, profile) {*}
          {*if (error) {*}
            {*// Handle error*}
            {*return;*}
          {*}*}

          {*console.log(authResult, profile);*}

{*//          document.getElementById('nick').textContent = profile.nickname;*}
{*//*}
{*//          localStorage.setItem('accessToken', authResult.accessToken);*}
{*//          localStorage.setItem('profile', JSON.stringify(profile));*}
        {*});*}
      {*});*}


      {*lock.show();*}




      /**
	   * https://auth0.com/docs/link-accounts/user-initiated-linking
       */
      var connection
      var opts = {
        rememberLastLogin: false,
        dict: {
          signin: {
            title: 'Link another account'
          },
          auth: {
            responseType: 'token id_token'
          }
        }
      };

      if (connection) {
        opts.connections = [connection];
      }

      // open lock in signin mode with the customized options for linking
      var lock = new Auth0Lock(
              {$auth0ClientId},
        'ignum.auth0.com',
        opts
      );

      function linkPasswordAccount(connection){
        {*var opts = {*}
          {*rememberLastLogin: false,*}
          {*dict: {*}
            {*signin: {*}
              {*title: 'Link another account'*}
            {*},*}
            {*auth: {*}
              {*responseType: 'token id_token'*}
            {*}*}
          {*}*}
        {*};*}

        {*if (connection) {*}
          {*opts.connections = [connection];*}
        {*}*}

        {*// open lock in signin mode with the customized options for linking*}
        {*lock = new Auth0Lock(*}
			{*{$auth0ClientId},*}
			{*'ignum.auth0.com',*}
			{*opts*}
        {*);*}


        lock.show();
      }

      function linkAccount(secondaryJWT){
        console.log('secondaryJWT', secondaryJWT);

        // At this point you can fetch the secondary user_metadata for merging
        // with the primary account. Otherwise it will be lost after linking the accounts
        var primaryJWT = localStorage.getItem('id_token');
        var primaryUserId = localStorage.getItem('user_id');
        $.ajax({
          type: 'POST',
          url: 'https://' + 'ignum.auth0.com' + '/api/v2/users/' + primaryUserId + '/identities',
          data: {
            link_with: secondaryJWT
          },
          headers: {
            'Authorization': 'Bearer ' + primaryJWT
          }
        }).then(function(identities){
          console.log('linked!');
          showLinkedAccounts(identities);
        }).fail(function(jqXHR){
          console.log('Error linking Accounts: ' + jqXHR.status + " " + jqXHR.responseText);
        });
      }

      function lockAuthenticated(authResult)
      {
        console.log('authResult', authResult);

        if (isUserLoggedIn) {
          linkAccount(authResult.idToken, authResult.idTokenPayload.sub);
        } else {
          // handle authentication for the first login
        }
      }

      $(document).ready(function() {
        lock.on("authenticated", lockAuthenticated);
      });








	</script>
{/block}

