<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Původní doména</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://lipis.github.io/bootstrap-social/bootstrap-social.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

				<h1>Původní doména</h1>
				<p>PHP/Nette aplikace</p>

				<br />

				{include content}
			</div>
		</div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="https://cdn.auth0.com/js/lock/10.23/lock.min.js"></script>
	<script src="{$basePath}/js/app.js"></script>
</body>
</html>
