{block content}


    <h3>{$clientId}</h3>


	{if $user}
		Logged in: <b>{$user}</b>

        {if $zones}
			<br />
			<br />
			Prvních 5 domén:

			<ul>
				{foreach $zones as $zone}
					{if $iterator->counter <= 5}
						<li>{$zone['domain']}</li>
					{/if}
				{/foreach}
			</ul>
		{/if}

	{/if}

	<br />
	<br />

	{if $user}
		{*<a href="{link login, 'link'}">Link account</a>*}

		{*<br />*}

		{*<a href="{link login, 'link', NULL, 'mojeid-oid20'}">*}
			{*<img src="{$basePath}/images/mojeid_32x32.png" /> Link OID2.0*}
		{*</a>*}

		{*<br />*}
		{*<br />*}

		<a href="{link logout}">Sign out</a>

		<br />
		<br />

		{control impersonateForm}
		<br />
		<a href="{link requestImpersonation, 110703}">impersonate 110703</a>

		{*<br />*}
		{*<br />*}
		{*<a href="{link impersonate}">Impersonate testsobolic @ domena.spickam.dev.com.cz</a>*}

	{else}
		<a href="{link login}">Sign in</a>

		<br />
		<br />
        {control loginForm}

		<br />
		<br />
		<a href="{link social, 'facebook'}" class="btn btn-social-icon btn-facebook">
			<span class="fa fa-facebook"></span>
		</a>
		<a href="{link social, 'mojeid-oid20'}">
			<img src="{$basePath}/images/mojeid_32x32.png" /> OID2.0
		</a>
		<a href="{link social, 'mojeid-oidc'}">
			<img src="{$basePath}/images/mojeid_32x32.png" /> OIDC
		</a>

        {*<br />*}
        {*<br />*}
        {*<a href="{link impersonate}">Impersonate 110703</a>*}


        <br />
        <br />
        Auth iframe
        <br />
        <iframe name="auth_iframe" ></iframe>
    {/if}


    <script>
		var config = {
			idp: {
				tokenEndpoint: {$tokenEndpoint},
                userinfoEndpoint: {$userinfoEndpoint}
			},
			client: {
				id: {$clientId},
				secret: {$clientSecret}
			}
		};
	</script>


    {*<iframe src="http://puvodni.here/"></iframe>*}


{/block}

